---
import type { CollectionEntry } from "astro:content";
import { toCategoryIndexUrl, toTagIndexUrl } from "../utils/url";
import { renderDate } from "../utils/date";
import { renderMeta } from "../utils/meta";

type BlogEntry = CollectionEntry<"blog">;
type Frontmatter = BlogEntry["data"];
type Props = {
  frontmatter: Frontmatter;
};
const { frontmatter } = Astro.props;
---

<div class="flex flex-wrap gap-4 justify-end">
  <div class="stats">
    <div class="stat place-items-center">
      <!-- <div class="stat-figure text-primary">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-8 h-8 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path></svg>
  </div> -->
      <div class="stat-title">投稿日</div>
      <div class="stat-value text-lg">
        {renderDate(frontmatter.createdAt)}
      </div>
      <!-- <div class="stat-desc">21% more than last month</div> -->
    </div>
    <div class="stat place-items-center">
      <!-- <div class="stat-figure text-secondary">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-8 h-8 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"></path></svg>
  </div> -->
      <div class="stat-title">更新日</div>
      <div class="stat-value text-lg">
        {renderDate(frontmatter.updatedAt)}
      </div>
      <!-- <div class="stat-desc">{renderDate(frontmatter.updatedAt)}</div> -->
    </div>
  </div>
  <div class="stats">
    <div class="stat place-items-center">
      <!-- <div class="stat-figure text-secondary">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-8 h-8 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"></path></svg>
  </div> -->
      <div class="stat-title">カテゴリー</div>
      <div class="stat-value text-secondary">
        <a
          href={toCategoryIndexUrl(frontmatter.category)}
          class="btn btn-outline btn-xs btn-accent normal-case"
        >
          {renderMeta({ title: frontmatter.category })}
        </a>
      </div>
      <!-- <div class="stat-desc">21% more than last month</div> -->
    </div>

    <div class="stat place-items-center">
      <!-- <div class="stat-figure text-secondary">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-8 h-8 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"></path></svg>
  </div> -->
      <div class="stat-title">タグ</div>
      <div class="stat-value text-secondary flex flex-wrap gap-1">
        {
          frontmatter.tags.map((tag) => (
            <a
              href={toTagIndexUrl(tag)}
              class="btn btn-outline btn-xs btn-secondary normal-case"
            >
              {renderMeta({ title: tag })}
            </a>
          ))
        }
      </div>
      <!-- <div class="stat-desc">21% more than last month</div> -->
    </div>
  </div>
</div>
