---
import { type BlogEntry } from "../utils/astro.ts";
import { default as PostCardList } from "../components/PostCardList.astro";
import { default as PostCardListHeader } from "../components/PostCardListHeader.astro";
import { default as TagTip } from "../components/TagTip.astro";
import { buildTransactionName } from "../utils/transition";

type Props = {
  title: string;
  meta: string;
  entries: BlogEntry[];
  next?: {
    total: number;
    nextUrl: string;
  };
};
const { title, entries, next, meta } = Astro.props;
const num = next?.total ?? entries.length;
const info = { num, title };
---

<!-- Title Section -->
<PostCardListHeader
  transactionName={buildTransactionName.postCardListHeader(meta)}
>
  <TagTip slot="title" info={info} />
</PostCardListHeader>

<!-- Post Cards -->
<PostCardList entries={entries} />

<!-- Button: Read More -->
{
  next && (
    <div class="flex justify-center">
      <a href={next.nextUrl} class="btn glass btn-lg normal-case">
        Read More({next.total})
      </a>
    </div>
  )
}
