---
import { default as Markdown } from "../components/Markdown.astro";
import { default as PaperWithTitle } from "../components/PaperWithTitle.astro";
import { default as Frontmatter } from "../components/Frontmatter.astro";
import { default as Avatar } from "../components/Avatar.astro";
import { SnsList } from "../components/SnsList";
import { default as Toc } from "../components/Toc.astro";
import {
  AUTHOR,
  AUTHOR_DESCRIPTION,
  SITE_NAME_WITH_EMOJI,
} from "../constants/site";
import { toCategoryIndexUrl, toTagIndexUrl, toHomeUrl } from "../utils/url";
import { renderMeta } from "../utils/meta";
import type { MarkdownLayoutProps } from "astro";
import { type BlogEntry } from "../utils/astro";

type Frontmatter = BlogEntry["data"];
type Props = MarkdownLayoutProps<Frontmatter>;
const { frontmatter, headings } = Astro.props;
const slug: string = (frontmatter as any).slug; // NOTE: Astro does not resolve slug type config automatically :/
if (!slug) throw new Error("slug is not defined.");
---

<div class="my-16 gap-4 flex direction-row flex-wrap justify-center">
  <main class="lg:w-auto w-full">
    <PaperWithTitle slug={slug}>
      <span slot="title">
        <div class="text-sm breadcrumbs">
          <ul>
            <li>
              <a class="underline underline-offset-4" href={toHomeUrl()}
                >{SITE_NAME_WITH_EMOJI}</a
              >
            </li>
            <li>
              <a
                class="underline underline-offset-4"
                href={toCategoryIndexUrl(frontmatter.category)}
                >📂 {frontmatter.category}</a
              >
            </li>
            <li>📑 {frontmatter.title}</li>
          </ul>
        </div>
      </span>
      <div slot="body">
        <div class="pt-4"></div>
        <div class="flex flex-wrap gap-1">
          {
            frontmatter.tags.map((tag) => (
              <a
                href={toTagIndexUrl(tag)}
                class="btn btn-outline btn-xs normal-case text-base-content text-opacity-60"
              >
                {renderMeta({ title: tag })}
              </a>
            ))
          }
        </div>
        <Markdown>
          <slot />
        </Markdown>
      </div>
    </PaperWithTitle>
  </main>
  <aside class="hidden lg:inline-flex flex-col max-w-xs gap-4">
    <Frontmatter frontmatter={frontmatter} />
    <div
      class="sticky top-4 right-0 h-fit flex flex-col gap-4 max-h-[calc(100vh-50px)]"
    >
      <div class="glass rounded-xl p-2 px-4">
        <div class="flex gap-2">
          <Avatar />
          <div>
            <div class="text-base-content text-opacity-60 font-bold">
              {AUTHOR}
            </div>
            <div class="text-base-content text-opacity-40">
              {AUTHOR_DESCRIPTION}
            </div>
          </div>
        </div>
        <div
          class="flex justify-evenly p-2 px-4 text-base-content text-opacity-40"
        >
          <SnsList />
        </div>
      </div>
      <!-- <div>this is test.</div> -->
      <div class="overflow-y-auto">
        <Toc headings={headings} />
      </div>
    </div>
  </aside>
</div>
